{% extends 'base.html' %}
{% load static %}

{% block container %}

    <!-- END templateux-navbar -->
    <section class="templateux-hero overlay"  data-scrollax-parent="true">
      <!-- <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="images/hero_2.jpg" /></div> -->
      <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="{% static 'images/dj-neo1.jpg' %}"></div>

      <div class="container">
        <div class="row align-items-center justify-content-center intro">
          <div class="col-md-10" data-aos="fade-up">
            <h1>Свадьба один раз</h1>
            <h2>Воспоминания на всю жизнь...</h2>
            
            <a href="#next" class="go-down js-smoothscroll"></a>
            

            
            
          </div>
        </div>
      </div>
    </section>
    <!-- END templateux-hero -->
    
    
    <section class="templateux-portfolio-overlap mb-5" id="next">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="row work-detail">
              <div class="col-md-4 ">
                <span class=caption>Лучшее Настроение</span>
                <strong>...</strong>
              </div>
              <div class="col-md-4">
                <span class=caption>Свет супер</span>
                <strong>...</strong>
              </div>
              <div class="col-md-4">
                <span class=caption>Атмосферная музыка</span>
                <strong>....</strong>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6">
            <p class="mb-5">Nullam nec purus ut sem hendrerit scelerisque a non magna. Curabitur porttitor turpis vehicula dignissim tempus. Praesent hendrerit suscipit magna, a venenatis dui placerat nec. Suspendisse potenti. </p>
              </div>
              <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sed, quia at error minus, praesentium qui tempora beatae libero provident.</p>
              </div>
            </div>


            <p class="text-center mb-5"><img src="{% static 'images/img_2_large.jpg' %}" alt="Image placeholder" class="img-fluid"></p>

            <div class="row mb-5">
              <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id veniam quia distinctio temporibus delectus laborum, error qui iusto recusandae nesciunt voluptatem cupiditate, quaerat, odio ullam pariatur ipsam rerum dignissimos architecto, eos voluptatibus consectetur dicta ipsum facilis sunt. Accusantium, tenetur nam.</p>
              </div>
              <div class="col-md-6">
                <p>Ea, assumenda illum molestias omnis natus inventore odit. Totam fugiat, esse. Nostrum, aspernatur sit repellendus. Quas dolor consequuntur quidem commodi debitis possimus veniam consequatur excepturi natus aliquam molestiae, odio praesentium tenetur atque, labore harum. Possimus esse provident eius facere, doloribus!</p>
              </div>
            </div>
            

            <p class="text-center mb-5"><img src="{% static 'images/img_1_large.jpg' %}" alt="Image placeholder" class="img-fluid"></p>

            <p class="text-center"><a href="{% url 'contact' %}" class="button button--red">Закажи праздник!</a></p>
          </div>


          
        </div>

      </div>
    </section>

    <section class="testimony">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <blockquote class="mb-5">
              <p>&ldquo;Уже больше месяца прошло после нашей свадьбы, а мы до сих пор вспоминаем и радуемся тому, как все отлично прошло. Выбор Сергея в качестве диджея был сделан сразу же, после посещения его сайта и прочтения отзывов! и мы не разу не пожалели!! все было четко и профессионально. Исполнил все наши пожелания (а свадьба была русско-французская), и даже пожелания французской бабушки в разгар свадьбы - одним словом МОЛОДЕЦ! еще заказывали апож - было очень весело!! Спасибо огромное тебе, Сергей, и удачи!!!&rdquo;</p>
            </blockquote>
            <p class="author">&mdash; <span>Мария и Клод</span>, <span>молодожёны</span></p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}